.link {
  stroke: black;
  stroke-width: 5;
}

.active {
  stroke: limegreen;
  stroke-width: 5;
}

.inactive {
  stroke: black;
  stroke-width: 5;
}

/*#network_graph {
  width: 100% !important;
  height: 100% !important;
}*/
